@charset "UTF-8";
@font-face {
  font-family: Pretendard;
  src: url(../webfonts/Pretendard-Bold.subset.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html[data-dust=clear]:root {
  --background: #0094FF;
  --color: #FFF4B8;
}
html[data-dust=clear] .title h2 {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 300;
  font-size: 10.55rem;
  line-height: 10rem;
}
@media screen and (max-width: 650px) {
  html[data-dust=clear] .title h2 {
    font-size: 30vw;
    line-height: 0;
    margin-top: 15vw;
  }
}
html[data-dust=clear] .poster.background.clear {
  display: block;
}

html[data-dust=normal]:root {
  --background: #B5FF57;
  --color: #0E5537;
}
html[data-dust=normal] .title h2 {
  font-family: "Permanent Marker", system-ui;
  font-weight: 300;
  font-size: 21.2vw;
  line-height: 7rem;
}
html[data-dust=normal] .bottom-title {
  filter: blur(10px);
}
html[data-dust=normal] .poster.background.normal {
  display: block;
}
html[data-dust=normal] .top-title {
  -webkit-clip-path: circle(9.3vw at calc(var(--x) - 9.3vw) calc(var(--y) - 4.65vw));
          clip-path: circle(9.3vw at calc(var(--x) - 9.3vw) calc(var(--y) - 4.65vw));
}

html[data-dust=unheal]:root {
  --background: #818181;
  --color: #FFE928;
}
html[data-dust=unheal] .title h2 {
  font-family: "Black And White Picture", system-ui;
  font-weight: 300;
  font-size: 24vw;
  line-height: 8rem;
}
html[data-dust=unheal] .bottom-title {
  filter: blur(20px);
}
html[data-dust=unheal] .poster.background.unheal {
  display: block;
}

html[data-dust=very-unheal]:root {
  --background: #fd4242;
  --color: #D7D7D7;
}
html[data-dust=very-unheal] .title h2 {
  font-family: "Eater", system-ui;
  font-weight: 300;
  font-size: 14vw;
  line-height: 6rem;
  margin-top: 0.5rem;
}
html[data-dust=very-unheal] .bottom-title {
  filter: blur(30px);
}
html[data-dust=very-unheal] .poster.background.very-unheal {
  display: block;
}
html[data-dust=very-unheal] .top-title {
  -webkit-clip-path: circle(9.3vw at calc(var(--x) - 1.86vw) calc(var(--y) - 6.2vw));
          clip-path: circle(9.3vw at calc(var(--x) - 1.86vw) calc(var(--y) - 6.2vw));
}

html {
  font-size: 36px;
}
@media screen and (max-width: 1150px) {
  html {
    font-size: calc(16px + 1.2vw);
  }
}
@media screen and (max-width: 870px) {
  html {
    font-size: calc(12px + 1.2vw);
  }
}

body {
  font-family: "Pretendard", sans-serif;
  color: var(--color);
}

.poster.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--background);
  display: none;
}

.poster.background.clear > span {
  position: fixed;
  font-family: "Yeon Sung", system-ui;
  font-size: 3.555rem;
}
.poster.background.clear > span:nth-child(1) {
  left: 95vw;
  bottom: 0;
}
.poster.background.clear > span:nth-child(2) {
  left: 70vw;
}
.poster.background.clear > span:nth-child(3) {
  left: 60vw;
}
.poster.background.clear > span:nth-child(4) {
  left: 35vw;
}
.poster.background.clear > span:nth-child(5) {
  left: -2vw;
}

.title {
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.333rem;
  padding: 0 16px;
}
.title h1 {
  font-size: 1rem;
  z-index: 100;
}
.title h2 {
  text-align: center;
}

.contents {
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  bottom: 1.333rem;
  z-index: 100;
  padding: 0 16px;
}
.contents p {
  text-align: center;
}
.contents p:nth-child(1) {
  margin-bottom: 0.222rem;
}

.top-title {
  -webkit-clip-path: circle(9.3vw at calc(var(--x) - 4.65vw) calc(var(--y) - 4.65vw));
          clip-path: circle(9.3vw at calc(var(--x) - 4.65vw) calc(var(--y) - 4.65vw));
}

.poster.background.clear > span {
  position: fixed;
  font-family: "Yeon Sung", system-ui;
  font-size: 3.555rem;
}
.poster.background.clear > span:nth-child(1) {
  left: 95vw;
  bottom: 0;
}
.poster.background.clear > span:nth-child(2) {
  left: 70vw;
}
.poster.background.clear > span:nth-child(3) {
  left: 60vw;
}
.poster.background.clear > span:nth-child(4) {
  left: 35vw;
}
.poster.background.clear > span:nth-child(5) {
  left: -2vw;
}

.dust {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background: var(--color);
  transition: transform 0.25s ease-out;
}

@keyframes heart-rise {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-130vh); /* 화면 높이만큼 위로 올라갑니다. */
    opacity: 0; /* 점점 투명해지도록 설정하여 자연스럽게 사라지게 합니다. */
  }
}
@keyframes dust-moving {
  0% {
    transform: translateX(0);
    transform: translateY(0);
  }
  100% {
    transform: translateX(-1vw);
    transform: translateY(1vw);
  }
}/*# sourceMappingURL=style.css.map */